<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<title>Take 2</title>
	<meta name="description" content="The movie recasting app">
	<meta name="author" content="Anthony Arroyo John Davis Ian Erickson">

	<!-- Mobile Specific Metas
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/skeleton.css">
	<link rel="stylesheet" href="/css/style.css" media="screen" title="no title">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="/js/moviesearch.js" type="text/javascript"></script>
	<script src="/js/movierender.js" type="text/javascript"></script>
	<script src="/js/recastsubmit.js" type="text/javascript"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>