<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/lumen/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/style.css" media="screen" title="no title">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<title>Take2</title>
	<script src="/js/moviesearch.js" type="text/javascript"></script>
	<script src="/js/movierender.js" type="text/javascript"></script>
	<script src="/js/recastsubmit.js" type="text/javascript"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>